body {
  background: #3b3b3b;
}

.relogio {
  width: 400px;
  background: #4e4e4e;
  color: #fff;
  font-size: 80px;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  position: absolute;
  left: 30%;
  top: 30%;
}
